/* importing other CSS files */
@import url("nav.css");
@import url("top-footer.css");
@import url("description.css");
@import url("about-top.css");
@import url("portfolio.css");
@import url("cards.css");
@import url("projects.css");
@import url("why-us.css");
@import url("team-section.css");
@import url("contact-us.css");
/*  ==========  ===================== */


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #daeef3;
    background-size: cover;
    overflow-x: hidden;
}

/* main {
    padding: 20px;
} */

section {
    display: grid;
    justify-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
} 
/* ========= UNIVERSAL CSS ====== */
.section-headings{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}
img{
    filter: brightness(100%) contrast(80%) saturate(100%) blur(0px) hue-rotate(0deg);
    border-radius: 8px 8px 8px 8px;
}
.flex-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.flex-item {
    flex: 1;
    min-width: 300px;
    padding: 10px;
    box-sizing: border-box;
}
/* ============   END OF UNIVERSAL CSS ======== */
.footer{
    text-align: center;
    font-weight: 800;
    color: #030321ad;
  }