ul{
    padding-left: 0;
}
.top-footer a, .top-footer li{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 700;
}
.top-footer li{
    list-style: none !important;
}
/* .top-footer a:hover{
    background-color: #c3c2c9e8;
} */
.top-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap:20px;
    justify-content: center;
    justify-items: center;
    padding-bottom: 70px;
    grid-auto-flow: dense; /*helps rearrange Item to fit well on grid*/
    background-color: rgb(27, 35, 5);
    /* color: rgb(255, 255, 255); */
    padding-top: 20px;
    position: relative;
    z-index: 2;
  }
  .f-card{
    /* background-color: #d0e7fba1; */
    border-radius: 20px;
}
.top-footer div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* align-items: center; */
}
.f-company .heading, #f-socialmedia .heading, #f-contact .heading {
    font-size: calc(1.275rem + .3vw) !important;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #eb9e10;
    font-weight: 900;
}
.f-company li i, #f-contact li i{
    color: green;
    font-weight: 900;
    padding-right: 10px;
}
.f-contact{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 200px); */
    gap: 10px;
}
#f-socialmedia ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 5px;
    justify-items: center;
    align-items: center;
}
#f-socialmedia ul li{
    margin: 0 5px;
    border-radius: 50px;
    font-size: 35px;
    
}
#f-socialmedia ul li a{
    display: flex;
    padding: 0 6px;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
}

#f-socialmedia ul li:hover{
    background:rgb(151, 151, 213);
    
}
#f-socialmedia ul li a i{
   color: rgb(117, 117, 244);
}
#f-socialmedia ul li a:hover i{
    color: rgba(42, 123, 163, 0.738);
 }